{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder1.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(1)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$15</h4>
			</div>
		</div>

		<div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder2.jpg' %}" alt="">
			<div class="box-element product">
				<h6>
                    <strong>Product(2)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$20</h4>
			</div>
		</div>

		<div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder3.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(3)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$25</h4>
			</div>
		</div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder4.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(4)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$30</h4>
			</div>
		</div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder5.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(5)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$35</h4>
			</div>
		</div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder6.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(6)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$40</h4>
			</div>
		</div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder7.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(7)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$40</h4>
			</div>
		</div>


        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder8.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(8)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$40</h4>
			</div>
		</div>


        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder9.jpg' %}" alt="">
			<div class="box-element product">
                <h6>
                    <strong>Product(9)</strong>
                </h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;">$40</h4>
			</div>
		</div>

	</div>

{% endblock content %}